@model IEnumerable<BookingASP.Models.Company>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{
<div class="container companiesContainer">
    <div class="row">
        <div class="col-sm-4">
            @if (item.Logo != null)
            {
                var source = "../../Content/Images/" + (string)item.Logo;
                <img id="imageLogo" class="imageLogo img-circle companiesLogo" src=@source alt="Image" />
            }
        </div>
        <div class="col-sm-8">
            <div class="row  row-companies-name">
                <label>@item.CompanyName</label>

            </div>
            <div class="row row-companies-description">
                <label>@item.Description</label>

            </div>
            <div class="row row-services">
                @Html.ActionLink("Services", "Services", new { id = item.ID })
            </div>
            
            
        </div>

    </div>

</div>
}

